@font-face {
	font-family: 'DigitalDream';
	src: url('../../font/DIGITALDREAMFAT.ttf') format('truetype');
}
.calculator {
	background-color: #bce27f;
	width: 350px;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: 2px solid rgb(113, 136, 76);
	-webkit-box-shadow: 0px 16px 0px 0px rgba(147, 177, 99, 1);
	-moz-box-shadow: 0px 16px 0px 0px rgba(147, 177, 99, 1);
	box-shadow: 0px 16px 0px 0px rgba(147, 177, 99, 1);
}

.calculator__CEButton:active,
.calculator__CButton:active,
.calculator__button:active {
	-webkit-box-shadow: 0px 0px 0px 0px rgba(147, 177, 99, 1);
	-moz-box-shadow: 0px 0px 0px 0px rgba(147, 177, 99, 1);
	box-shadow: 0px 0px 0px 0px rgba(147, 177, 99, 1);
	transform: translateY(7px);
}
